@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #222;
} */

@layer components{

    .card {
        @apply 
        h-[21rem] w-[18rem] bg-[#dabf67] text-center m-[1.5rem] rounded-[10px] hover:scale-110 transition overflow-auto overflow-x-hidden max-lg:h-[18rem] max-lg:w-[15rem] max-md:w-[12rem] max-md:h-[15rem]
    }

    .card_image {
        @apply
        h-[10.5rem] w-full object-cover max-lg:h-[8.5rem]
    }
}

#body {
    overflow-x: hidden;
    background-color: #F9DA78;
}

#header .header_option {
    text-decoration: none;
    
    display: inline-block;
    position: relative;
}

#header .header_option::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#header .header_option:hover::after {
    width: 100%; 
    left: 0; 
}

    @keyframes carga {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
#header-div {
    animation: 2s ease 0s 1 carga;
}

.header_option {
    display: flex;
}

html{
    scroll-behavior: smooth;;
  }

#scrollb {
    animation: bounce .5s backwards
}

#cart_container {
    animation: bounce .5s backwards;
}
/* 
@keyframes bounce {
    0%, 100% {       
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);

    }
    50% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
} */

@keyframes bounce {
    0% {
        scale: 0%;
    }

    100% {
        scale: 100%;
    }
}